* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f8f9fc;
  color: #333;
}



button {
  padding: 10px 20px;
  border: none;
  background: #ffcc00;
  cursor: pointer;
  font-weight: bold;
}
.header {
  min-height: 100vh;
  background-image: url("./img/home-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
  background-size:100%;
}

/* NAVBAR TOP */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

.logo {
  height: 50px;
}

/* MENU */
.navbar ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.navbar a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  position: relative;
}

/* Hover underline animation */
.navbar a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #007bff;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.navbar a:hover::after {
  width: 100%;
}

/* Contact Button */
.navbar .btn {
  padding: 0.5rem 1.2rem;
  background: #007bff;
  color: white;
  border-radius: 5px;
}

.navbar .btn:hover {
  background: #0056b3;
}

/* HERO SECTION */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80vh;
  padding: 0 5rem;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-text p {
  color: #555;
  margin-bottom: 2rem;
}

.hero-btn {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: linear-gradient(135deg, #007bff, #00bfff);
  color: white;
  padding: 14px 36px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  box-shadow: 0 10px 25px rgba(0, 123, 255, 0.3);
  position: relative;
  overflow: hidden;
}
.hero-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 15px 30px rgba(0, 123, 255, 0.4);
}

/* ABOUT SECTION */


.about {
  padding: 6rem 5rem;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
}

.about-image img {
  width: 450px;
  max-width: 100%;
}

.about-content {
  max-width: 550px;
}
.about-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #222;
}

.about-content h3 {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #222;
}

.about-content p {
  color: #555;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

/* CREATIVE SECTION */

.services {
  position: relative;
  padding: 8rem 5rem;
  background-image: url("./img/about-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.services-bg {
  position: absolute;
  top: -100px;
  left: 50%;
  transform: translateX(-50%);
  width: 1000px;
  height: 500px;
  background: #eee;
  border-radius: 50%;
  z-index: 0;
}
.services-container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: auto;
}

.services-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 4rem;
}

.services-header h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.services-header p {
  color: #555;
  line-height: 1.7;
}
.services-cards {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.service-card {
  background: white;
  padding: 3rem 2rem;
  width: 300px;
  text-align: center;
  border-radius: 10px;
 
  transition: 0.3s ease;
}

.service-card:hover {
  transform: translateY(-10px);
  
}
.icon-box {
  width: 80px;
  height: 80px;
  background: blue;
  margin: 0 auto 1.5rem;
  border-radius: 0 0 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box img {
  width: 40px;
}

.service-card h3 {
  margin-bottom: 0.5rem;
}

.service-card span {
  display: block;
  color: #0d6efd;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.service-card p {
  color: #555;
  line-height: 1.6;
}

/* SKILLS SECTION */

.skills {
   background-image: url("./img/skill-bg.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  padding: 8rem 5rem;
}
.skills-bg {
  flex: 1;
  
  padding: 4rem;
  border-radius: 20px;
  position: relative;
}

.skills-container {
 
  display: flex;
  align-items: center;
  gap: 5rem;
  max-width: 1200px;
  margin: auto;
}
.skills-text {
  flex: 1;
}

.skills-text h2 {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

.skills-text p {
  color: #555;
  line-height: 1.8;
}
.skills-bars {
  flex: 1;
}
.skills-bars {
  position: relative;
  z-index: 1;
}

.skill-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.bar {
  background: #eee;
  border-radius: 20px;
  height: 14px;
  overflow: hidden;
  margin-bottom: 2rem;
}

.bar-fill {
  height: 100%;
  background: linear-gradient(90deg, #1d4ed8, #38bdf8);
  border-radius: 20px;
  width: 0;
  animation: fillBar 1.5s ease forwards;
}

/* SERVICE SECTION */
.features {
  position: relative;
  padding: 8rem 5rem;
  background-image: url("./img/service-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}


.features-bg {
  position: absolute;
  bottom: -200px;
  left: -200px;
  width: 500px;
  height: 500px;
  background: #f2f3ff;
  border-radius: 50%;
  z-index: 0;
}
.features-container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: auto;
}

.features-title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.feature-item {
  text-align: center;
  max-width: 300px;
  margin: auto;
}

.feature-icon {
  width: 80px;
  height: 80px;
  border: 2px solid #0d6efd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.feature-icon img {
  width: 35px;
}

.feature-line {
  width: 60px;
  height: 2px;
  background: #ddd;
  margin: 1.5rem auto;
}

.feature-item h3 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.feature-item p {
  color: #555;
  line-height: 1.6;
}

/* Stats */
.stats {
  position: relative;
  padding: 6rem 5rem;
  background-image: url("./img/hero-01.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stats::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 20, 50, 0.7);
  z-index: 0;
}
.stats-container {
  position: relative;
  z-index: 1;
}

.stats::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(10, 30, 60, 0.85);
  z-index: 0;
}
.stats-container {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  max-width: 1200px;
  margin: auto;
}
.stat-card {
  background: white;
  padding: 3rem 2rem;
  width: 220px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
  transition: 0.3s ease;
}

.stat-card:hover {
  transform: translateY(-10px);
}
.stat-icon {
  font-size: 2rem;
  color: #fbbf24;
  margin-bottom: 1rem;
}
.stat-card h3 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #0f172a;
}
.stat-card p {
  letter-spacing: 1px;
  font-size: 0.85rem;
  text-transform: uppercase;
  color: #555;
}

/*PORTFOILIO SECTION*/
.portfolio {
  background: #061c3f;
  padding: 8rem 5rem;
  color: white;
}
.portfolio-header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto 4rem;
}

.portfolio-header h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.portfolio-header p {
  color: #cbd5f5;
  line-height: 1.7;
}
.portfolio-filters {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.portfolio-filters button {
  background: transparent;
  border: 2px solid #fbbf24;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease;
}

.portfolio-filters button:hover,
.portfolio-filters .active {
  background: #fbbf24;
  color: #061c3f;
}
.portfolio-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.portfolio-item {
  overflow: hidden;
  border-radius: 10px;
}
.portfolio-item img {
  width: 100%;
  display: block;
  transition: 0.4s ease;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}
.team {
  padding: 8rem 5rem;
  background: white;
}
.team-header {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 4rem;
}

.team-header h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.team-header p {
  color: #555;
  line-height: 1.7;
}
.team-grid {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.team-card {
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}
.team-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: 0.4s ease;
}

.team-card:hover img {
  transform: scale(1.1);
}
